---
import Layout from '../layouts/Layout.astro';
---
<Layout title="William Moreno | Diseñador Web">
	<main>
		<h1>William Moreno</h1>
	</main>
</Layout>
<style lang="scss">
	$color-primary: #0A2647;
	:root {
		--color-primary: #{ $color-primary };
	}
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		background-color: var(--color-primary);
		color: #FFFFFF;
	}
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	h1 {
		font-family: 'Roboto', sans-serif;
		font-size: 3rem;
	}
</style>
